body {
    background-color: #FAF3F0;
    background-color: #D8D9DA;
    background-color: #292e3c;

    font-family: 'Titillium Web', sans-serif;
}

#home {
    height: 100vh;
}

h1 {
    color: #fbfbfb;
}

.group {
    box-shadow: -6px 2px 45px -10px #0000007d;
    background-color: #1D5D9B;
    margin-top: 10% !important;
}

input,
textarea {
    background-color: transparent !important;
    color: #fff !important ;
    border-color: #ffffff ;
}

input::placeholder,
textarea::placeholder {
    color: rgb(255, 255, 255) !important;
}


button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #071952;
    color: white;
    height: 45px;
}

button:hover {
    background-color: #ffffff7a;
color: #000;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.navbar{
    background-color: #1D5D9B !important;
}
.navbar-brand{
    color: #fff !important;
    padding-left: 4%;

}
.btn{
    border-color: rgb(255, 255, 255);
    color: #ffffff;


}
.btn:hover{
    background-color: #071952;
    border: #071952;
}
.btn-a{
    padding-right: 4%;
}
